@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Üst Katman Güvenlik Önlemleri ile oluşturulan 2 faktörlü kimlik doğrulaması;</p>
    <br />
    <p>Kimlik doğrulama gerektiren alanlar (Kullanıcı adı ve parola ile girilen sistemler) için ekstra bir katman olması amacı ile tasarlanmıştır.</p>
    <hr />
    <p>Sağ üst menüden kişisel ayarlarınızı yönetebilirsiniz.</p>

    <br />
    <br />
    <br />


</div>
